/*************************************************************************************************************
GLOBAL
*************************************************************************************************************/

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('../img/preload.gif');
   background-repeat: no-repeat; 
   background-color: #EBE5F0;
   background-position: center;
}

body {
    font-family: "TeXGyreHerosCondensed-Regular", sans-serif;
    margin: 0;
    font-weight: normal;
	background: #000;
	color: #FF4848;
}


hr.hr-white {
	border:1px #fff solid;
	margin: 0;
}

hr.hr-black {
	border:1px #000 solid;
	margin: 0;
}

.empty p {
	visibility:hidden;
}

/*************************************************************************************************************
h1 - h6 - p
*************************************************************************************************************/

h1 {
  	font-family: "TeXGyreHerosCondensed-Regular", serif; 
	font-size: 24px; 
    line-height: 30px;
	font-weight: 300;
	letter-spacing:1px;
	text-align: center;  
}

h1.grey {
		color: #EBE5F0;
}

h1.left {
	text-align: left;
}

h1 span {
  	font-family: "PanamaDemo-Regular", serif; 
	font-weight: normal;
	letter-spacing:-0.5px;
}

h1 span.teatime {
	font-family: "DrukWide-Bold", serif; 
	font-size: 22px; 
    line-height: 18px;
	letter-spacing:1px;
	font-weight: normal;
}




.tt-content {
	height: 100vh;
}

.home-copy-space {
	height: 83vh;
}

.home-copy-top {
    margin-bottom: -20px;
}

.home-copy-blur {
    background-image: url("../img/bg_fade.png");
    background-repeat: repeat-x;
    height: 42px;
	z-index:1;
	position:relative;
}

.home-copy-bottom {
	background: #EBE5F0;
	z-index:2;
	position:relative;
}

h1.join-us-desktop {
	display:block;
	margin-top:10px!important;
    background-image: url("../img/bg3.gif");
	background-size:cover;
	background-clip: text;
 	 -webkit-background-clip: text;
  	color: transparent;
}

h1.join-us-mobile {
	display:none;
	margin-top:10px!important;
    background-image: url("../img/bg3.gif");
	background-size:cover;
	background-clip: text;
 	 -webkit-background-clip: text;
  	color: transparent;
}


h1.join-us-desktop a:hover {
	text-decoration-line: underline;
	text-decoration-color:#FF4848;
}

.home-copy-left {
	margin: 190px 0;
    background-image: url("../img/bg3.gif");
	background-size:cover;
	background-clip: text;
 	-webkit-background-clip: text;
  	color: transparent;
}


a.teatime-insta {
  position: relative;
  display: block;
  margin: 0 auto;	
  width:440px;
} 

.teatime-insta-fill {
	height:90px;
	width:440px;
}

img.teatime-insta-mask {
  position: absolute;
  top: 0;
  left: 0;
  height:90px;
  width:440px;
} 

a.teatime-insta .teatime-insta-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;  
	height:90px;
    width:440px;
}
 
a.teatime-insta:hover .teatime-insta-hover {
       display: inline;
}


a.para-link:hover {
   
	text-decoration-line: underline;
	text-decoration-color:#FF4848;
}


.footer-desktop {
	display:block;
}

.footer-mobile {
	display:none;
}

.footer-desktop h1 {
	margin-bottom:50px;
    background-image: url("../img/bg3.gif");
	background-size:cover;
	background-clip: text;
 	 -webkit-background-clip: text;
  	color: transparent;
	font-size:16px;

}

.footer-mobile h1 {
    background-image: url("../img/bg3.gif");
	background-size:cover;
	background-clip: text;
 	 -webkit-background-clip: text;
  	color: transparent;
	font-size:16px;
}




/*************************************************************************************************************
VIDEO HERO
*************************************************************************************************************/


video { 
    position: fixed;
    top: 45%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background-image: url('../img/poster.jpg') no-repeat;
  	background-size: cover;
  	transition: 1s opacity;
}






