
@media (max-width: 1220px) {

	
	.home-copy-left {
		margin: 140px 0;
	}
}



@media (max-width: 992px) {
	.home-copy-space {
		height: 75vh;
	}
	
	.home-copy-left {
		margin: 130px 0;
	}
}



@media (max-width: 768px) {
	
	h1.join-us-desktop {
		display:none;
	}
	
	h1.join-us-mobile {
		display:block!important;
	}
	
	.footer-desktop {
		display:none;
	}
	
	.footer-mobile {
		display:block;
	}
	
	a.teatime-insta {
	  width:292px;
	} 

	.teatime-insta-fill {
		height:60px;
		width:292px;
	}

	img.teatime-insta-mask {
	  height:60px;
	  width:292px;
	} 
}



@media (max-width: 500px) {	
	
	video { 
	    top: 43%;
		width:100vw;
	}
	
	
	
	.w3-container {
		padding:0.01em 20px
	}
	
	.home-copy-space {
		height: 62vh;
	}
	
	.home-copy-blur {
	   	margin-top:-20px;
	}
	
	h1.join-us-mobile {
		margin-top:-30px!important;
	}
	
	.home-copy-left {
		margin: 100px 0;
	}
	
	
	h1 {
		font-size: 22px; 
	    line-height: 24px;
	}
	
	h1 span.teatime {
		font-size: 16px; 
	    line-height: 14px;
	}
	
	
	.footer-mobile h1 {
		margin-bottom:30px;
		    font-size: 12px;
	}
	

}

@media (max-width: 375px) { 
	.home-copy-space {
		height: 60vh;
	}
	
	video { 
	    top: 37%;
	}
}



@media (max-width: 320px) {
	
	.home-copy-space {
		height: 58vh;
	}
	
	.home-copy-left {
		margin: 80px 0;
	}
	
	h1 {
		font-size: 19px; 
	    line-height: 23px;
	}
	
	h1 span.teatime {
		font-size: 15px; 
	    line-height: 14px;
	}
	
	a.teatime-insta {
	  width:196px;
	} 

	.teatime-insta-fill {
		height:40px;
		width:196px;
	}

	img.teatime-insta-mask {
		height:40px;
		width:196px;
	} 
} 

