
@media (max-width: 1220px) {


	
}



@media (max-width: 992px) {
	.home-copy-space {
		height: 87vh;
	}
	
	.home-copy-left {
			margin: 120px 0px 0px 0px;
	}
	
	.signup-header {
		margin:105px 0px 0px 0px;

	}

	.signup {
		margin:0px 0px 105px 0px;
	}
	
	.empty {
		display:none;
	}
}



@media (max-width: 768px) {
	
	.home-copy-space {
		height: 90vh;
	}
	
	h1.join-us-desktop {
		display:none;
	}
	
	h1.join-us-mobile {
		display:block!important;
	}	
	
	.footer-desktop {
		display:none;
	}
	
	.footer-mobile {
		display:block;
	}
	
	a.teatime-insta {
	  width:292px;
	} 

	.teatime-insta-fill {
		height:60px;
		width:292px;
	}

	img.teatime-insta-mask {
	  height:60px;
	  width:292px;
	} 
	
	.home-copy-left {
			margin: 160px 0px 0px 0px;
	}
	
	.home-copy-left-thankyou {
			margin: 270px 0px;
	}
	
	
	.signup-header {
		margin:150px 0px 0px 0px;

	}

	.signup {
		margin:0px 0px 150px 0px;
	}
	
}



@media (max-width: 500px) {	
	
	video { 
	    top: 43%;
		width:100vw;
	}
	
	#email {
	    margin-top: -12px;
	}
	
	.w3-container {
		padding:0.01em 20px
	}
	
	.home-copy-space {
		height: 80vh;
	}
	
	.home-copy-blur {
	   	margin-top:-20px;
	}
	
	/*h1.join-us-mobile {
		margin-top:-30px!important;
	}*/
	
	.home-copy-left {
			margin: 100px 0px 0px 0px;
	}
	
	.home-copy-left-thankyou {
			margin: 150px 0px;
	}
	
	
	h1 {
		font-size: 22px; 
	    line-height: 24px;
	}
	
	h1 span.teatime {
		font-size: 16px; 
	    line-height: 14px;
	}
	
	.footer-mobile h1 {
		margin-bottom:30px;
		    font-size: 12px;
	}
	
	.home-copy-left {
			margin: 90px 0px 0px 0px;
	}
	
	.signup-header {
		margin:80px 0px 0px 0px;

	}

	.signup {
		margin:0px 0px 80px 0px;
	}
	
	/*************************************************************************************************************
	SHOP
	*************************************************************************************************************/

	.circle-blur {
	  width: 90px;
	  height: 90px;
	  top:20px;
	  right:20px;
	  -webkit-filter: blur(4px);
	  -moz-filter: blur(4px);
	  -ms-filter: blur(4px);
	  -o-filter: blur(4px);
	  filter: blur(4px);
	}

	.circle h1 {
		display: block;
		margin-top: 38px!important;
		font-size: 9px; 
	    line-height: 10px;
	}

	.circle {
	  width: 90px;
	  height: 90px;
	}
}


@media (max-width: 414px) { 
	.home-copy-space {
		height: 87vh;
	}
	
	video { 
	    top: 40%;
	}
	
	.home-copy-left-thankyou {
			margin: 100px 0px;
	}
	
}

@media (max-width: 375px) { 
	.home-copy-space {
		height: 84vh;
	}
	
	video { 
	    top: 42%;
	}
	h1.left {
	    width:97%;
	}
	
	.home-copy-left {
			margin: 70px 0px 0px 0px;
	}
	
	.home-copy-left-thankyou {
			margin: 70px 0px;
	}
	
	.signup-header {
		margin:60px 0px 0px 0px;

	}

	.signup {
		margin:0px 0px 60px 0px;
	}
}



@media (max-width: 320px) {
	
	.home-copy-space {
		height: 80vh;
	}
	
	video { 
	    top: 38%;
	}
	
	
	
	h1 {
		font-size: 19px; 
	    line-height: 23px;
	}
	
	h1 span.teatime {
		font-size: 15px; 
	    line-height: 14px;
	}
	
	.home-copy-left-thankyou {
			margin: 60px 0px;
	}
	
	.signup-header {
		font-size: 10px;
	}
	
	a.teatime-insta {
	  width:196px;
	} 

	.teatime-insta-fill {
		height:40px;
		width:196px;
	}

	img.teatime-insta-mask {
		height:40px;
		width:196px;
	} 
	
	#email #mc_embed_signup {
				width: 290px; 
	}
	
	.newsletter #mce-EMAIL {
		width: 250px;
	}
	
	.newsletter #mc-embedded-subscribe {
		margin: 7px 0 0 -10px;
	}
	
	.newsletter input {

	    font-size: 19px;

	}
} 

