@font-face {
    font-family: "TeXGyreHerosCondensed-Regular";
    src: url('texgyreheroscn-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "DrukWide-Bold";
  src: url("DrukWideBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PanamaDemo-Regular";
  src: url("PanamaDemoRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

